<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.RolesMapper">
    <resultMap id="BaseResultMap" type="org.sang.bean.Role">
        <id column="rid" jdbcType="INTEGER" property="rid" />
        <result column="rname" jdbcType="VARCHAR" property="rname" />
    </resultMap>

    <insert id="addRoles">
        INSERT INTO user_role VALUES
        <foreach collection="roles" item="role" separator=",">
            (null,#{role},#{uid})
        </foreach>
    </insert>
    <select id="getRolesByUid" parameterType="Integer" resultType="org.sang.bean.Role">
        SELECT r.* FROM role r,user_role ru WHERE r.`rid`=ru.`rid` AND ru.`id`=#{uid}
    </select>
</mapper>